# Data Wrangling Assesment-1

### Task 1: Examining and loading data: Examine ‘data.dat’ to determine the content and format then load it, using Python (2.7) and a Jupyter notebook, into a Pandas Dataframe.

In [2]:
# import pandas library providing high-performance, easy-to-use data structures and data analysis tools
import pandas as pd

In [3]:
# import re library 
import re

In [4]:
# import numpy library
import numpy as np

## Alternative way

#### I tried to split the raw data into appropriate columns using pandas.read_table function. Parameters used in this function are
* error_bad_lines
* header
* sep
* names
* skipinitialspace

In [6]:
df3 = pd.read_table('/Users/Bharath/Documents/MDS/Semester 2/Data Wrangling/Assessment/Assessment1/data-2.dat', error_bad_lines = False, header = None,
                    sep=',',names=('Start','End','Country','Location','Type','Sub_Type','Names','Killed','Affected','Cost','ID'),
                    skipinitialspace=True)

In [7]:
df3

,Start,End,Country,Location,Type,Sub_Type,Names,Killed,Affected,Cost,ID
0,Start = 10061965,End = 10061965,Country:Japan,Location : nan,Type:Storm,Sub_Type:Tropical cyclone,Names:Dinah,Killed = 61. 0,Affected = 30000.0,Cost = nan,ID = 1965-0036
1,Start = 08092004,End = 08092004,Country:Grenada,Location : nan,Type:Storm,Sub_Type:Tropical cyclone,Names:Ivan,Killed = 39. 0,Affected = 60000.0,Cost = 889.0,ID = 2004-0462
2,Start = 15031995,End = 15031995,Country:Russia,Location : Kalmoukie:Daghestan (Mer ...,Type:Transport Accident,Sub_Type:Water,Names:nan,Killed = 52. 0,Affected = nan,Cost = nan,ID = 1995-0362
3,Start = 00021983,End = 00021983,Country:Cuba,Location : Santiago de Cuba:Pinar d ...,Type:Flood,Sub_Type:nan,Names:nan,Killed = 15. 0,Affected = 164575.0,Cost = 60.0,ID = 1983-0042
4,Start = 00001983,End = 00001983,Country:Nepal,Location : nan,Type:Mass movement wet,Sub_Type:Landslide,Names:nan,Killed = 21. 0,Affected = nan,Cost = nan,ID = 1983-0526
5,Start = 26071996,End = 26071996,Country:Russia,Location : Volgorgrad,Type:Industrial Accident,Sub_Type:Gas Leak,Names:Oil refinery,Killed = nan,Affected = nan,Cost = nan,ID = 1996-0209
6,Start = 19062003,End = 19062003,Country:Turkey,Location : Kayseri,Type:Miscellaneous accident,Sub_Type:Explosion,Names:Dormitory of a school,Killed = 10. 0,Affected = 13.0,Cost = nan,ID = 2003-0296
7,Start = 16022003,End = 22022003,Country:Pakistan,Location : Baluchistan:Sindh:North ...,Type:Storm,Sub_Type:nan,Names:nan,Killed = 51. 0,Affected = 2557.0,Cost = nan,ID = 2003-0086
8,Start = 00081986,End = 00081986,Country:Honduras,Location : Northeast Honduras/Mosqui ...,Type:Flood,Sub_Type:nan,Names:nan,Killed = nan,Affected = 30000.0,Cost = nan,ID = 1986-0093
9,Start = 13102007,End = 13102007,Country:Colombia,Location : Near Suarez (Cauca),Type:Industrial Accident,Sub_Type:Collapse,Names:Cold mine,Killed = 22. 0,Affected = 24.0,Cost = nan,ID = 2007-0500
10,Start = 26092002,End = 26092002,Country:Senegal,Location : Au large de la Gambie,Type:Transport Accident,Sub_Type:Water,Names:Ferry 'Joola',Killed = 1200. 0,Affected = nan,Cost = nan,ID = 2002-0622
11,Start = 22051997,End = 22051997,Country:Mexico,Location : Arteaga:Patzcuaro:Micho ...,Type:Earthquake (seismic activity),Sub_Type:Earthquake (ground shaking),Names:nan,Killed = nan,Affected = 12000.0,Cost = nan,ID = 1997-0116
12,Start = 28032004,End = 11042004,Country:Canada,Location : Manitoba,Type:Flood,Sub_Type:General flood,Names:nan,Killed = nan,Affected = 1000.0,Cost = nan,ID = 2004-0146
13,Start = 20021943,End = 20021943,Country:Mexico,Location : nan,Type:Volcano,Sub_Type:Volcanic eruption,Names:Paricutin,Killed = nan,Affected = 3000.0,Cost = nan,ID = 1943-0008
14,Start = 28051980,End = 28051980,Country:Canada,Location : Webb:Saskatchewan,Type:Transport Accident,Sub_Type:Road,Names:nan,Killed = 22. 0,Affected = 11.0,Cost = nan,ID = 1980-0212
15,Start = 09082003,End = 11082003,Country:Algeria,Location : Reggane (Adrar region):T ...,Type:Flood,Sub_Type:General flood,Names:nan,Killed = 13. 0,Affected = nan,Cost = nan,ID = 2003-0396
16,Start = 02082000,End = 30082000,Country:India,Locations : Gujarat:Andhra Pradesh: ...,Type:Flood,Sub_Type:General flood,Names:nan,Killed = 867. 0,Affected = 22000000.0,Cost = 43.0,ID = 2000-0445
17,Start = 25092008,End = 28092008,Country:Viet Nam,Location : Lang Son:Son La:Bac Gia ...,Type:Storm,Sub_Type:Tropical cyclone,Names:Typhoon 'Hagupit' (Nina),Killed = 46. 0,Affected = 58511.0,Cost = 63.0,ID = 2008-0426
18,Start = 18051994,End = 18051994,Country:Bangladesh,Location : North,Type:Storm,Sub_Type:nan,Names:nan,Killed = 15. 0,Affected = 100.0,Cost = nan,ID = 1994-0122
19,Start = 04122004,End = 04122004,Country:Taiwan (China),Location : South:East,Type:Storm,Sub_Type:Tropical cyclone,Names:Nanmadol (Yoyong/30W),Killed = 3. 0,Affected = nan,Cost = nan,ID = 2004-0618
20,Start = 23021991,End = 23021991,Country:Soviet Union,Location : Leningrad,Type:Miscellaneous accident,Sub_Type:Fire,Names:Hotel,Killed = 17. 0,Affected = nan,Cost = nan,ID = 1991-0042
21,Start = 13101910,End = 13101910,Country:Tanzania Uni Rep,Location : United Republic of Rukwa,Type:Earthquake (seismic activity),Sub_Type:Earthquake (ground shaking),Names:nan,Killed = nan,Affected = nan,Cost = nan,ID = 1910-0018
22,Start = 00012004,End = 00002004,Country:Peru,Location : Cajamarca department,Type:Drought,Sub_Type:Drought,Names:nan,Killed = nan,Affected = nan,Cost = nan,ID = 2004-9063
23,Start = 00041982,End = 00041982,Country:Morocco,Location : Fez,Type:Mass movement wet,Sub_Type:Landslide,Names:Cliff,Killed = 1. 0,Affected = 12216.0,Cost = nan,ID = 1982-0045
24,Start = 00122000,End = 00122000,Country:Haiti,Location : Abricots region (Grand'An ...,Type:Flood,Sub_Type:nan,Names:nan,Killed = 12. 0,Affected = 1200.0,Cost = nan,ID = 2000-0797
25,Start = 22091909,End = 22091909,Country:United States,Location : Louisiana,Type:Flood,Sub_Type:Storm surge/coastal flood,Names:nan,Killed = 72. 0,Affected = nan,Cost = nan,ID = 1909-0017
26,Start = 06052000,End = 09052000,Country:USA,Location : Franklin:Jefferson count ...,Type:Flood,Sub_Type:Flash flood,Names:nan,Killed = 2. 0,Affected = 2000.0,Cost = nan,ID = 2000-0232
27,Start = 14042003,End = 14042003,Country:Bangladesh,Location : Buriganga river (North),Type:Transport Accident,Sub_Type:Water,Names:MV Mitali,Killed = 130. 0,Affected = nan,Cost = nan,ID = 2003-0173
28,Start = 17061974,End = 17061974,Country:Mexico,Location : Near Acapulco,Type:Storm,Sub_Type:Tropical cyclone,Names:nan,Killed = 13. 0,Affected = nan,Cost = nan,ID = 1974-0030
29,Start = 08052005,End = 08052005,Country:China,Location : Huize County,Type:Earthquake (seismic activity),Sub_Type:Earthquake (ground shaking),Names:nan,Killed = nan,Affected = 18509.0,Cost = nan,ID = 2005-0740
...,...,...,...,...,...,...,...,...,...,...,...
14320,Start = 00071975,End = 00071975,Country:India,Locations : Northwest:Bihar,Type:Flood,Sub_Type:nan,Names:nan,Killed = 350. 0,Affected = 34000000.0,Cost = 714.259,ID = 1975-0037
14321,Start = 19102005,End = 24102005,Country:Mexico,Location : Cancun:Puerto Maderos: ...,Type:Storm,Sub_Type:Tropical cyclone,Names:Hurricane 'Wilma',Killed = 7. 0,Affected = 1000000.0,Cost = 5000.0,ID = 2005-0585
14322,Start = 00072000,End = 00072000,Country:Central African Rep,Location : Basse-Kotto,Type:Epidemic,Sub_Type:Bacterial Infectious Diseases,Names:Meningococcal disease,Killed = 40. 0,Affected = 160.0,Cost = nan,ID = 2000-0461
14323,Start = 20062002,End = 20062002,Country:Tanzania Uni Rep,Location : Mererani (Arusha region),Type:Industrial Accident,Sub_Type:Other,Names:Mine,Killed = 42. 0,Affected = nan,Cost = nan,ID = 2002-0377
14324,Start = 18052001,End = 18052001,Country:Somalia,Location : Aden Gulf,Type:Transport Accident,Sub_Type:Water,Names:nan,Killed = 86. 0,Affected = nan,Cost = nan,ID = 2001-0256
14325,Start = 04212005,End = 04212005,Country:China,Location : Qijiang district (Chongqi ...,Type:Industrial Accident,Sub_Type:Explosion,Names:Chemical factory Dongxi,Killed = 17. 0,Affected = nan,Cost = nan,ID = 2005-0218
14326,Start = 18051994,End = 18051994,Country:South Africa,Location : nan,Type:Transport Accident,Sub_Type:Road,Names:nan,Killed = 21. 0,Affected = nan,Cost = nan,ID = 1994-0720
14327,Start = 20121990,End = 20121990,Country:Taiwan (China),Location : Near Kach Siung,Type:Transport Accident,Sub_Type:Rail,Names:nan,Killed = 40. 0,Affected = 14.0,Cost = nan,ID = 1990-0249
14328,Start = 27101962,End = 27101962,Country:Thailand,Location : nan,Type:Storm,Sub_Type:Tropical cyclone,Names:Harriet,Killed = 769. 0,Affected = nan,Cost = 19.0,ID = 1962-0010
14329,Start = 19011994,End = 19011994,Country:Australia,Location : nan,Type:Storm,Sub_Type:Tropical cyclone,Names:Hurricane,Killed = 22. 0,Affected = nan,Cost = nan,ID = 1994-0310
14330,Start = 15041999,End = 15041999,Country:United States,Location : Florida,Type:Wildfire,Sub_Type:Forest fire,Names:nan,Killed = nan,Affected = 629.0,Cost = nan,ID = 1999-0112
14331,Start = 14082004,End = 14082004,Country:Cuba,Location : La Habana:Pinar del Rio:...,Type:Storm,Sub_Type:Tropical cyclone,Names:Charley,Killed = 4. 0,Affected = 244005.0,Cost = 1000.0,ID = 2004-0415
14332,Start = 11061985,End = 11061985,Country:Burkina Faso,Location : Banfora region,Type:Flood,Sub_Type:nan,Names:nan,Killed = nan,Affected = 572.0,Cost = nan,ID = 1985-0150
14333,Start = 26031995,End = 26031995,Country:Ecuador,Location : Quevedo,Type:Earthquake (seismic activity),Sub_Type:Earthquake (ground shaking),Names:nan,Killed = 1. 0,Affected = 85.0,Cost = nan,ID = 1995-0047
14334,Start = 06091999,End = 06091999,Country:Mexico,Location : States of Colima:Michoac ...,Type:Storm,Sub_Type:Tropical cyclone,Names:Greg,Killed = 9. 0,Affected = 4000.0,Cost = nan,ID = 1999-0328
14335,Start = 25121999,End = 27121999,Country:United Kingdom,Location : nan,Type:Storm,Sub_Type:Extratropical cyclone,Names:Lothar,Killed = 8. 0,Affected = 200.0,Cost = 100.0,ID = 1999-0571
14336,Start = 00032006,End = 00032006,Country:Romania,Location : Gorj:Dambovita departmen ...,Type:Flood,Sub_Type:General flood,Names:nan,Killed = nan,Affected = 600.0,Cost = nan,ID = 2006-0127
14337,Start = 31101999,End = 31101999,Country:United States,Location : nan,Type:Transport Accident,Sub_Type:Air,Names:Boeing 767-300,Killed = 217. 0,Affected = nan,Cost = nan,ID = 1999-0433
14338,Start = 16102005,End = 16102005,Country:Argentina,Location : Madgalena,Type:Miscellaneous accident,Sub_Type:Fire,Names:Prison,Killed = 33. 0,Affected = 11.0,Cost = nan,ID = 2005-0812
14339,Start = 10071993,End = 10071993,Country:Costa Rica,Location : Cartago:Turrialba,Type:Earthquake (seismic activity),Sub_Type:Earthquake (ground shaking),Names:nan,Killed = 3. 0,Affected = 240.0,Cost = nan,ID = 1993-0184
14340,Start = 05031999,End = 05031999,Country:Canada,Location : Manitoba:Ontario,Type:Wildfire,Sub_Type:Forest fire,Names:nan,Killed = nan,Affected = 1500.0,Cost = nan,ID = 1999-0145
14341,Start = 25061980,End = 25061980,Country:Brazil,Location : Irati town,Type:Storm,Sub_Type:Local storm,Names:nan,Killed = 15. 0,Affected = 48.0,Cost = nan,ID = 1980-0054
14342,Start = 25052006,End = 25052006,Country:Guinea,Location : Limsam,Type:Transport Accident,Sub_Type:Road,Names:nan,Killed = 11. 0,Affected = 10.0,Cost = nan,ID = 2006-0286
14343,Start = 00021978,End = 00021978,Country:Japan,Location : Countrywide,Type:Epidemic,Sub_Type:Viral Infectious Diseases,Names:Influenza,Killed = nan,Affected = 2000000.0,Cost = nan,ID = 1978-0031
14344,Start = 06301994,End = 06301994,Country:China,Location : Yunnan,Type:Flood,Sub_Type:General flood,Names:nan,Killed = 41. 0,Affected = 320.0,Cost = 12.1,ID = 1994-0785
14345,Start = 09042000,End = 09042000,Country:Uganda,Location : Lake Albert,Type:Transport Accident,Sub_Type:Water,Names:nan,Killed = 41. 0,Affected = 11.0,Cost = nan,ID = 2000-0915
14346,Start = 19012007,End = 19012007,Country:Mozambique,Location : Angoche (Nampula province ...,Type:Transport Accident,Sub_Type:Road,Names:nan,Killed = 17. 0,Affected = 19.0,Cost = nan,ID = 2007-0018
14347,Start = 09042006,End = 25042006,Country:Ethiopia,Location : Eastern Afar:Eastern Som ...,Type:Flood,Sub_Type:General flood,Names:nan,Killed = nan,Affected = 10000.0,Cost = nan,ID = 2006-0204
14348,Start = 11122006,End = 11122006,Country:China,Location : Lingshi (Shanxi province) ...,Type:Industrial Accident,Sub_Type:Explosion,Names:Coal mine,Killed = 26. 0,Affected = nan,Cost = nan,ID = 2006-0591
14349,Start = 13071998,End = 13071998,Country:Iran Islam Rep,Location : Mashad,Type:Transport Accident,Sub_Type:Road,Names:nan,Killed = 25. 0,Affected = 4.0,Cost = nan,ID = 1998-0523

### Custom function to validate date columns

In [182]:
# Import datetime to use the date parsing funcitons

import datetime

# Function validate date attributes

def valdate(m):
    
    try:        
        d=m[0:2]
        mo=m[2:4]
        y=m[4:8]
        my=m[2:4]+"-"+m[4:8]
        dt=m[0:2]+"-"+m[2:4]+"-"+m[4:8]
          
        if re.match(validdate, dt):
            dte=datetime.datetime.strptime(dt, "%d-%m-%Y").date()
            dte=dte.strftime("%d-%m-%Y")
        elif re.match(monthyear, my):
            dte=datetime.datetime.strptime(my, "%m-%Y").date()
            dte=dte.strftime("%m-%Y")
        elif re.match(year, y): 
            dte=datetime.datetime.strptime(y, "%Y").date()
            dte=dte.strftime("%Y")
        else:
            print 'invalid date'
            dte=None
        return dte
        
    except ValueError:
        return None
    
# Patterns to validate date, month, year
# Reference: Tutorial 2A Regular Expression - DataWrangling

validdate = r'''(?x)
    (?:
    # February (29 days every year)
      ([12][0-9]|0?[1-9])[/-](0?2)
    # 30-day months
      |(30|[12][0-9]|0?[1-9])[/-](0?[469]|11)
    # 31-day months
      |(3[01]|[12][0-9]|0?[1-9])[/-](0?[13578]|1[02])
    ) 
    # Year
    [/-]((?:[0-9]{2})?[0-9]{2})
'''       
# Patterns to validate month and year

monthyear = r'''(0|[1|2|3|4|5|6|7|8|9]|1[0|1|2|])[/-]((?:[0-9]{2})?[0-9]{2})'''

# Patterns to validate year

year  = r'''((?:[0-9]{2})?[0-9]{2})'''

## Process to parse all individual columns

In [179]:


for i in df3.columns:
    try:
# Used replace function to extract the values (i.e) 'Names:Dinah' to 'Dinah'

        df3[i]=df3[i].str.replace(r'\w*\s*[:|=]\s*',' ',1).astype(str).str.strip()
    
# Used valdate function to validate the date columns - refer valdate function
    
        if i=='Start'or i=='End':
            for s,j in zip(df3[i],range(len(df3[i]))):
                df3[i][j]=valdate(s)
#             df3[i]=df3[i].astype('datetime64[ns]')
#             df[i].astype('datetime64[Y]')
#                 pd.to_datetime(df3[i])
#                 print valdate( df3[j].astype(str))
#             df3[i]  = pd.to_datetime(df3[i], format='%d%m%Y',errors='coerce')
#             datetimeobject = datetime.strptime(df3[i],'%d%m%Y')
#             df3[i] = datetimeobject.strftime('%m-%Y')
# Used to replace to 
#         if i=='Names':
#              df3[i]=df3[i].str.translate(maketrans('',''),"Nan").astype('string')

        if i=='Country':
            df3[i]=df3[i].astype(str)
            print 'Country'
        if i=='Location':
            from string import maketrans
            table =maketrans(' ',' ')
            df3[i].astype(basestring)
            df3[i]=df3[i].str.replace(r':',' ').str.translate(None,"()\.*").str.title().replace('Nan',np.nan)
        if i=='Type':
            df3[i]=df3[i].str.title().astype(str)
        if i=='Sub_Type':
            df3[i]=df3[i].replace('nan',np.nan).astype(str)
            print 'Sub_Type'
            
# Used replace function to remove numbers 
# Used translate to remove any special character where replace function can also be used but it 
# only remove special character which match the pattern
# Title function to change the values to initcap
# Replace function replace the string 'Nan' to None or np.nan

        if i=='Names':
            df3[i]=df3[i].str.replace(r'\d*','').str.translate(None,"''()/-").str.title().replace('Nan',np.nan)
            print 'Names'
            
# Replace function to replace the decimal value with None because logically killed count may not be 0.5 or 1.5
# and its not valid logically
# Convert to numeric using 'to_numeric' handled error using 'coerce'
# Used fillna function to replace null values with 0 because it is a integer attribute 
# Assigned datatype as int for this attribute
# Group into single condition where attribute 'Killed' and 'Affected' have same validation process

        if i=='Killed' or i=='Affected':
            df3[i]=df3[i].str.replace(r'\.\s*\d','')
            df3[i]=pd.to_numeric(df3[i],errors='coerce').fillna(0).astype(int)
            print 'Killed & Affected'

# Used 'to_numeric' to convert attribute datatype as float64

        if i=='Cost':
            df3[i]=pd.to_numeric(df3[i],errors='coerce')
            print 'Cost'  
        if i=='ID':
            df3[i]=pd.to_numeric(df3[i].str.translate(None,"-"),errors='coerce').fillna(0).astype(int)
            print 'ID'
    except Exception as e:
        print e.__doc__
        print e.message 
        pass

Country
Sub_Type
Names
Killed & Affected
Killed & Affected
Cost
ID

In [170]:
df3.to_csv(path_or_buf='27559807_parsed_data')

In [12]:
df3[10:100]

,Start,End,Country,Location,Type,Sub_Type,Names,Killed,Affected,Cost,ID
10,Start = 26092002,End = 26092002,Country:Senegal,Location : Au large de la Gambie,Type:Transport Accident,Sub_Type:Water,Names:Ferry 'Joola',Killed = 1200. 0,Affected = nan,Cost = nan,ID = 2002-0622
11,Start = 22051997,End = 22051997,Country:Mexico,Location : Arteaga:Patzcuaro:Micho ...,Type:Earthquake (seismic activity),Sub_Type:Earthquake (ground shaking),Names:nan,Killed = nan,Affected = 12000.0,Cost = nan,ID = 1997-0116
12,Start = 28032004,End = 11042004,Country:Canada,Location : Manitoba,Type:Flood,Sub_Type:General flood,Names:nan,Killed = nan,Affected = 1000.0,Cost = nan,ID = 2004-0146
13,Start = 20021943,End = 20021943,Country:Mexico,Location : nan,Type:Volcano,Sub_Type:Volcanic eruption,Names:Paricutin,Killed = nan,Affected = 3000.0,Cost = nan,ID = 1943-0008
14,Start = 28051980,End = 28051980,Country:Canada,Location : Webb:Saskatchewan,Type:Transport Accident,Sub_Type:Road,Names:nan,Killed = 22. 0,Affected = 11.0,Cost = nan,ID = 1980-0212
15,Start = 09082003,End = 11082003,Country:Algeria,Location : Reggane (Adrar region):T ...,Type:Flood,Sub_Type:General flood,Names:nan,Killed = 13. 0,Affected = nan,Cost = nan,ID = 2003-0396
16,Start = 02082000,End = 30082000,Country:India,Locations : Gujarat:Andhra Pradesh: ...,Type:Flood,Sub_Type:General flood,Names:nan,Killed = 867. 0,Affected = 22000000.0,Cost = 43.0,ID = 2000-0445
17,Start = 25092008,End = 28092008,Country:Viet Nam,Location : Lang Son:Son La:Bac Gia ...,Type:Storm,Sub_Type:Tropical cyclone,Names:Typhoon 'Hagupit' (Nina),Killed = 46. 0,Affected = 58511.0,Cost = 63.0,ID = 2008-0426
18,Start = 18051994,End = 18051994,Country:Bangladesh,Location : North,Type:Storm,Sub_Type:nan,Names:nan,Killed = 15. 0,Affected = 100.0,Cost = nan,ID = 1994-0122
19,Start = 04122004,End = 04122004,Country:Taiwan (China),Location : South:East,Type:Storm,Sub_Type:Tropical cyclone,Names:Nanmadol (Yoyong/30W),Killed = 3. 0,Affected = nan,Cost = nan,ID = 2004-0618
20,Start = 23021991,End = 23021991,Country:Soviet Union,Location : Leningrad,Type:Miscellaneous accident,Sub_Type:Fire,Names:Hotel,Killed = 17. 0,Affected = nan,Cost = nan,ID = 1991-0042
21,Start = 13101910,End = 13101910,Country:Tanzania Uni Rep,Location : United Republic of Rukwa,Type:Earthquake (seismic activity),Sub_Type:Earthquake (ground shaking),Names:nan,Killed = nan,Affected = nan,Cost = nan,ID = 1910-0018
22,Start = 00012004,End = 00002004,Country:Peru,Location : Cajamarca department,Type:Drought,Sub_Type:Drought,Names:nan,Killed = nan,Affected = nan,Cost = nan,ID = 2004-9063
23,Start = 00041982,End = 00041982,Country:Morocco,Location : Fez,Type:Mass movement wet,Sub_Type:Landslide,Names:Cliff,Killed = 1. 0,Affected = 12216.0,Cost = nan,ID = 1982-0045
24,Start = 00122000,End = 00122000,Country:Haiti,Location : Abricots region (Grand'An ...,Type:Flood,Sub_Type:nan,Names:nan,Killed = 12. 0,Affected = 1200.0,Cost = nan,ID = 2000-0797
25,Start = 22091909,End = 22091909,Country:United States,Location : Louisiana,Type:Flood,Sub_Type:Storm surge/coastal flood,Names:nan,Killed = 72. 0,Affected = nan,Cost = nan,ID = 1909-0017
26,Start = 06052000,End = 09052000,Country:USA,Location : Franklin:Jefferson count ...,Type:Flood,Sub_Type:Flash flood,Names:nan,Killed = 2. 0,Affected = 2000.0,Cost = nan,ID = 2000-0232
27,Start = 14042003,End = 14042003,Country:Bangladesh,Location : Buriganga river (North),Type:Transport Accident,Sub_Type:Water,Names:MV Mitali,Killed = 130. 0,Affected = nan,Cost = nan,ID = 2003-0173
28,Start = 17061974,End = 17061974,Country:Mexico,Location : Near Acapulco,Type:Storm,Sub_Type:Tropical cyclone,Names:nan,Killed = 13. 0,Affected = nan,Cost = nan,ID = 1974-0030
29,Start = 08052005,End = 08052005,Country:China,Location : Huize County,Type:Earthquake (seismic activity),Sub_Type:Earthquake (ground shaking),Names:nan,Killed = nan,Affected = 18509.0,Cost = nan,ID = 2005-0740
30,Start = 28022005,End = 23032005,Country:Nigeria,Location : Adamawa:Kano:Jigawa:Ba ...,Type:Epidemic,Sub_Type:Viral Infectious Diseases,Names:nan,Killed = 561. 0,Affected = 23575.0,Cost = nan,ID = 2005-0134
31,Start = 15082001,End = 19112001,Country:Viet Nam,Location : Long An:Dong Thap:An Gi ...,Type:Flood,Sub_Type:General flood,Names:nan,Killed = 310. 0,Affected = 1570270.0,Cost = 84.0,ID = 2001-0492
32,Start = 14101987,End = 14101987,Country:Venezuela,Location : Near San Pedro river (Wes ...,Type:Flood,Sub_Type:nan,Names:nan,Killed = 40. 0,Affected = 29.0,Cost = nan,ID = 1987-0190
33,Start = 17042005,End = 17042005,Country:Switzerland,Location : Valais,Type:Transport Accident,Sub_Type:Road,Names:nan,Killed = 12. 0,Affected = nan,Cost = nan,ID = 2005-0201
34,Start = 00001910,End = 00001914,Country:Chad,Location : nan,Type:Drought,Sub_Type:Drought,Names:nan,Killed = nan,Affected = nan,Cost = nan,ID = 1910-9006
35,Start = 06202006,End = 06202006,Country:China,Location : Gansu,Type:Earthquake (seismic activity),Sub_Type:Earthquake (ground shaking),Names:nan,Killed = nan,Affected = 130.0,Cost = nan,ID = 2006-0464
36,Start = 24031998,End = 24031998,Country:India,Locations : Tanton:Jaleshwar (Midnap ...,Type:Storm,Sub_Type:Local storm,Names:nan,Killed = 250. 0,Affected = 40500.0,Cost = 10.0,ID = 1998-0106
37,Start = 23031999,End = 23031999,Country:Pakistan,Location : nan,Type:Transport Accident,Sub_Type:Road,Names:nan,Killed = 40. 0,Affected = 20.0,Cost = nan,ID = 1999-0655
38,Start = 01181989,End = 01181989,Country:China,Location : Huinan,Type:Transport Accident,Sub_Type:Rail,Names:nan,Killed = 32. 0,Affected = nan,Cost = nan,ID = 1989-0504
39,Start = 17091977,End = 17091977,Country:Philippines,Location : Basilan,Type:Transport Accident,Sub_Type:Road,Names:nan,Killed = 22. 0,Affected = 32.0,Cost = nan,ID = 1977-0168
...,...,...,...,...,...,...,...,...,...,...,...
70,Start = 29121981,End = 29121981,Country:Portugal,Location : Lisbon,Type:Flood,Sub_Type:nan,Names:nan,Killed = 29. 999999,Affected = 900.0,Cost = nan,ID = 1981-0114
71,Start = 17122000,End = 17122000,Country:Brazil,Location : Minas Gerais state,Type:Transport Accident,Sub_Type:Road,Names:nan,Killed = 9. 999999,Affected = 19.0,Cost = nan,ID = 2000-0802
72,Start = 03101992,End = 03101992,Country:United States,Location : Florida,Type:Storm,Sub_Type:Local storm,Names:nan,Killed = nan,Affected = nan,Cost = nan,ID = 1992-0272
73,Start = 21051991,End = 21051991,Country:United States,Location : Texas,Type:Flood,Sub_Type:General flood,Names:nan,Killed = nan,Affected = nan,Cost = nan,ID = 1991-0504
74,Start = 14072001,End = 14072001,Country:Russia,Location : Near Moscow,Type:Transport Accident,Sub_Type:Air,Names:IL-76 cargo,Killed = 9. 999999,Affected = nan,Cost = nan,ID = 2001-0416
75,Start = 27111998,End = 27111998,Country:Cote d'Ivoire,Location : Near Toumodi,Type:Transport Accident,Sub_Type:Road,Names:nan,Killed = 9. 999999,Affected = 40.0,Cost = nan,ID = 1998-0396
76,Start = 06051994,End = 06051994,Country:Bangladesh,Location : Tetulia river,Type:Transport Accident,Sub_Type:Water,Names:Ferry,Killed = 39. 999999,Affected = nan,Cost = nan,ID = 1994-0328
77,Start = 18021990,End = 18021990,Country:Chile,Location : Near Valvidia,Type:Transport Accident,Sub_Type:Water,Names:Bateau de pêche 'Valdivia',Killed = 27. 999999,Affected = nan,Cost = nan,ID = 1990-0485
78,Start = 07042006,End = 24052006,Country:Bulgaria,Location : Vidin:Lom:Oryzhovo:Som ...,Type:Flood,Sub_Type:General flood,Names:nan,Killed = nan,Affected = nan,Cost = nan,ID = 2006-0209
79,Start = 01012006,End = 01032006,Country:Iraq,Location : Al Suleimaniyah:Al Amara ...,Type:Epidemic,Sub_Type:Viral Infectious Diseases,Names:Avion Influenza H5N1,Killed = 1. 999999,Affected = nan,Cost = nan,ID = 2004-0515
80,Start = 00042000,End = 00042000,Country:Somalia,Location : Gedo region,Type:Epidemic,Sub_Type:nan,Names:Acute watery diarrhoeal syndrome,Killed = 389. 999999,Affected = nan,Cost = nan,ID = 2000-0221
81,Start = 01032007,End = 02032007,Country:United States,Location : Alabama:Missouri:Georgi ...,Type:Storm,Sub_Type:Local storm,Names:nan,Killed = 19. 999999,Affected = 20.0,Cost = 600.0,ID = 2007-0083
82,Start = 22071994,End = 22071994,Country:Mexico,Location : Jalisco State,Type:Volcano,Sub_Type:Volcanic eruption,Names:Colima,Killed = nan,Affected = 700.0,Cost = nan,ID = 1994-0169
83,Start = 30101978,End = 30101978,Country:Argentina,Location : Cordoba,Type:Storm,Sub_Type:nan,Names:nan,Killed = 4. 999999,Affected = 100.0,Cost = nan,ID = 1978-0127
84,Start = 28102001,End = 28102001,Country:Peru,Location : Jachahuanca (South-East),Type:Mass movement wet,Sub_Type:Landslide,Names:nan,Killed = 19. 999999,Affected = 150.0,Cost = nan,ID = 2001-0604
85,Start = 07091965,End = 07091965,Country:United States,Location : Florida:Louisiana:Alaba ...,Type:Storm,Sub_Type:Tropical cyclone,Names:Betsy,Killed = 298. 999999,Affected = nan,Cost = 1420.0,ID = 1965-0053
86,Start = 09092007,End = 09092007,Country:Indonesia,Location : Situbondo (Java Isl.),Type:Earthquake (seismic activity),Sub_Type:Earthquake (ground shaking),Names:nan,Killed = nan,Affected = 469.0,Cost = nan,ID = 2007-0485
87,Start = 01071996,End = 20101996,Country:Benin,Location : Kerou district (Atacora) ...,Type:Epidemic,Sub_Type:Viral Infectious Diseases,Names:Yellow fever,Killed = 64. 999999,Affected = 21.0,Cost = nan,ID = 1996-0211
88,Start = 00081986,End = 00081986,Country:Australia,Location : Sydney:New South Wales,Type:Storm,Sub_Type:nan,Names:nan,Killed = 3. 999999,Affected = nan,Cost = 68.055,ID = 1986-0216
89,Start = 25062001,End = 25062001,Country:Turkey,Location : Osmaniye province,Type:Earthquake (seismic activity),Sub_Type:Earthquake (ground shaking),Names:nan,Killed = nan,Affected = 480.0,Cost = nan,ID = 2001-0358
90,Start = 00011954,End = 00011954,Country:Indonesia,Location : nan,Type:Volcano,Sub_Type:Volcanic eruption,Names:nan,Killed = 36. 999999,Affected = nan,Cost = nan,ID = 1954-0042
91,Start = 15052008,End = 15052008,Country:Niger,Location : Between Agadez-Tanout,Type:Transport accident,Sub_Type:Road,Names:nan,Killed = 20. 999999,Affected = 40.0,Cost = nan,ID = 2008-0232
92,Start = 05201998,End = 05201998,Country:China,Location : Hubei:Sichuan,Type:Storm,Sub_Type:nan,Names:nan,Killed = 16. 999999,Affected = 11000038.0,Cost = 37.2,ID = 1998-0444
93,Start = 17051992,End = 17051992,Country:Mexico,Location : Tultitlan,Type:Industrial Accident,Sub_Type:Fire,Names:Factory,Killed = nan,Affected = nan,Cost = 30.0,ID = 1992-0341
94,Start = 04112004,End = 04112004,Country:Denmark,Location : Kolding,Type:Industrial Accident,Sub_Type:Explosion,Names:Fireworks factory,Killed = 0. 999999,Affected = 2072.0,Cost = nan,ID = 2004-0593
95,Start = 24081982,End = 24081982,Country:France,Location : South-East departments,Type:Wildfire,Sub_Type:Forest fire,Names:nan,Killed = 1. 999999,Affected = 18.0,Cost = nan,ID = 1982-0304
96,Start = 00001981,End = 00001981,Country:Mexico,Location : Montana,Type:Industrial Accident,Sub_Type:Chemical Spill,Names:Chlorine,Killed = 28. 999999,Affected = 6000.0,Cost = nan,ID = 1981-0265
97,Start = 06122000,End = 06122000,Country:Fiji,Location : Viti Levu Isl.,Type:Flood,Sub_Type:Storm surge/coastal flood,Names:nan,Killed = 3. 999999,Affected = nan,Cost = nan,ID = 2000-0806
98,Start = 07141989,End = 07141989,Country:China,Location : Anhui:Hebei:Hubei:Jian ...,Type:Flood,Sub_Type:nan,Names:nan,Killed = 1999. 999999,Affected = 100010000.0,Cost = 2789.0,ID = 1989-0087
99,Start = 09111985,End = 09111985,Country:China,Location : Anhui province,Type:Industrial Accident,Sub_Type:Explosion,Names:Mine,Killed = 28. 999999,Affected = nan,Cost = nan,ID = 1985-0311

In [14]:
df3.loc[35,'Start']

'Start = 06202006'

## References
* [Handling with missing data](http://https://www.oreilly.com/learning/handling-missing-data "Handling with missing data")
* [Load Converters Usage](https://github.com/matplotlib/matplotlib/issues/4126)
* [StackOverflow](http://stackoverflow.com)